Repository databrickslabs/sandbox, changes with the owners that CODEOWNERS names for each.
All owners: @databrickslabs/sandbox-write, @nfx, @alexott, @vivian-xie-db, @yuanchaoma-db, @taiga-db, @robertwhiffin, @Jonathan-Choi, @esiol-db, @vasco-lopes, @gueniai

CODEOWNERS:

# There can be only one CODEOWNERS file in the repo for clarity. See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-file-location

# Catch-all rule comes first

* @databrickslabs/sandbox-write

# Specific owners are listed last. Please keep this list in the alphabetical order

acceptance                 @nfx @alexott
conversational-agent-app   @vivian-xie-db @yuanchaoma-db
database-diagram-builder   @alexott
downstreams                @nfx @alexott
go-libs                    @nfx @alexott
ip_access_list_analyzer    @alexott
ka-chat-bot                @taiga-db
metascan                   @nfx @alexott
runtime-packages           @nfx @alexott
sql_migration_copilot      @robertwhiffin
tacklebox                  @Jonathan-Choi
uc-catalog-cloning         @esiol-db @vasco-lopes
.github                    @nfx @alexott @gueniai

added fix for noneType check and markdown link
  conversational-agent-app/app.py
  conversational-agent-app/genie_room.py
Owners: @vivian-xie-db, @yuanchaoma-db

Added serverless migration dashboard and README.
  dbsql/serverless_migration_dash/README.md
  dbsql/serverless_migration_dash/Serverless Migration Assistance Dashboard.lvdash.json
Owners: @databrickslabs/sandbox-write

Added serverless migration dashboard and README. (#464)
  dbsql/serverless_migration_dash/README.md
  dbsql/serverless_migration_dash/Serverless Migration Assistance Dashboard.lvdash.json
Owners: @databrickslabs/sandbox-write

added fix for noneType check and markdown link
  conversational-agent-app/app.py
  conversational-agent-app/genie_room.py
Owners: @vivian-xie-db, @yuanchaoma-db

Add GH workflow to check if commits are signed
  .github/workflows/check-if-commit-signed.yml
Owners: @nfx, @alexott, @gueniai

added fix for noneType check and markdown link (#461)
  conversational-agent-app/app.py
  conversational-agent-app/genie_room.py
Owners: @vivian-xie-db, @yuanchaoma-db

Add GH workflow to check if commits are signed (#466)
  .github/workflows/check-if-commit-signed.yml
Owners: @nfx, @alexott, @gueniai

Commit without signature
  README.md
Owners: @databrickslabs/sandbox-write

Fix message to prevent error
  .github/workflows/check-if-commit-signed.yml
Owners: @nfx, @alexott, @gueniai

Switch to run on databricks runners
  .github/workflows/check-if-commit-signed.yml
Owners: @nfx, @alexott, @gueniai

Fix comment as well
  .github/workflows/check-if-commit-signed.yml
Owners: @nfx, @alexott, @gueniai

Switch to run on databricks runners (#469)
  .github/workflows/check-if-commit-signed.yml
Owners: @nfx, @alexott, @gueniai

just try with signed commits
  README.md
Owners: @databrickslabs/sandbox-write

Commit without signature
  README.md
Owners: @databrickslabs/sandbox-write

Bump versions for Go SDK and other dependencies
  go-libs/go.mod
  go.work.sum
  llnotes/go.mod
  metascan/go.mod
  runtime-packages/go.mod
Owners: @nfx, @alexott, @databrickslabs/sandbox-write

Fix errors
  go-libs/go.mod
  go-libs/go.sum
  llnotes/go.sum
  metascan/go.sum
  runtime-packages/go.sum
Owners: @nfx, @alexott, @databrickslabs/sandbox-write

another fix
  go.work.sum
Owners: @databrickslabs/sandbox-write

Bump Go SDK to 0.73.1
  go-libs/go.mod
  go-libs/go.sum
  llnotes/go.mod
  llnotes/go.sum
  metascan/go.mod
  metascan/go.sum
  runtime-packages/go.mod
  runtime-packages/go.sum
Owners: @nfx, @alexott, @databrickslabs/sandbox-write

Bump versions for Go SDK and other dependencies (#476)
  go-libs/go.mod
  go-libs/go.sum
  go.work.sum
  llnotes/go.mod
  llnotes/go.sum
  metascan/go.mod
  metascan/go.sum
  runtime-packages/go.mod
  runtime-packages/go.sum
Owners: @nfx, @alexott, @databrickslabs/sandbox-write

added cost observability v2 dashboard and readme
  cost-observability/Account Usage Dashboard v2.lvdash.json
  cost-observability/README.md
Owners: @databrickslabs/sandbox-write

added cost observability v2 dashboard and readme (#487)
  cost-observability/Account Usage Dashboard v2.lvdash.json
  cost-observability/README.md
Owners: @databrickslabs/sandbox-write
